.dash-height { height: 160px;}
.dash-list-image > li { margin-top: 10px;}

.widget-user .widget-user-header  { height: 200px;}

.media_to_upload img { width:160px;}


#wrapper
{
    text-align:center;
    margin:0 auto;
    padding:0px;
    width:995px;
}
#drop-area
{
    margin-top:20px;
    margin-left:220px;
    width:550px;
    height:200px;
    background-color:white;
    border:3px dashed grey;
}
.drop-text
{
    margin-top:70px;
    color:grey;
    font-size:25px;
    font-weight:bold;
}
#drop-area img
{
    max-width:200px;
}